// 상속 => @extend %titleH2; // 상속  
%titleH2 { 
    font-size: 20px; 
    text-align: center;    
}

// 믹스인 => @include
// @include inputBox ($brColor, $bgColor, $color, $fontSize, $padding, $fontWeight, $cursor);
@mixin inputBox ($brColor, $bgColor, $color, $fontSize, $padding, $fontWeight, $cursor) {
    width: 100%;
    height: 54px;
    border: 1px solid $brColor;
    border-radius: 3px;
    background: $bgColor;
    color: $color;
    font-size: $fontSize;
    padding: $padding;
    font-weight: $fontWeight;
    cursor: $cursor;
    // #2 
    outline: 1px solid transparent;
    outline-offset: -1px;
    transition: outline 0.3s;
    &:focus {
        outline-color: #777;
    }
}

// 전역변수
$paddingTopBttom: 90px 0;


#pw_reset_form {
    width:100%;
    #section1 {
        width:100%;
        padding: $paddingTopBttom;;
        .container {
            width:100%;
            max-width: 340px;
            margin: 0 auto;
            .title {
                h2 {
                    @extend %titleH2; // 상속                   
                    font-weight: 600;
                    padding: 0 0 25px 0;
                }
                &.id-pw-search-title {    
                    padding: 0 0 25px 0;                
                    h2 {                        
                        text-align: left;
                        padding: 0 0 10px 0;
                    }
                    h3 {                 
                        text-align: left;       
                        font-size: 13px;
                        color:#999;
                    }
                }

            }
            .content {
                width:100%;
                &.sub6-content {
                    width:100%;
                    form {
                        width:100%;
                        ul {
                            width:100%;
                            li {
                                width:100%;
                                padding: 10px 0;
                                &:nth-child(2) {
                                    padding: 20px 0 0 0;
                                }
                                .gap {
                                    position: relative;
                                    // #2
                                    label {
                                        display: block;
                                        padding: 10px 0;
                                        font-size: 14px;
                                        font-weight: 600;
                                    }
                                    input[type='password']{     // 아이디, 비밀번호                                        
                                        $brColor: #ddd;
                                        $bgColor: #fff;
                                        $color: #333;
                                        $fontSize: 14px;
                                        $padding: 0 15px;
                                        $fontWeight: 400;
                                        $cursor: text;
                                        @include inputBox ($brColor, $bgColor, $color, $fontSize, $padding, $fontWeight, $cursor);
                                        position: relative;
                                        z-index: 1;
                                    }
                                    span {                  // 아이디찾기, 비밀번호찾기
                                        a {
                                            font-size: 13px;
                                            color: #444;
                                        }
                                        i {
                                            font-size: 10px;
                                            color: #ccc;
                                            margin: 0 5px;
                                        }
                                    }
                                    input[type='submit']{   // 로그인 버튼
                                        $brColor: #5f0080;
                                        $bgColor: #5f0080;
                                        $color: #fff;
                                        $fontSize: 16px;
                                        $padding: 0;
                                        $fontWeight: 600;
                                        $cursor: pointer;
                                        @include inputBox ($brColor, $bgColor, $color, $fontSize, $padding, $fontWeight, $cursor);
                                    }
                                    input[type='button']{   // 회원가입 버튼
                                        $brColor: #5f0080;
                                        $bgColor: #fff;
                                        $color: #5f0080;
                                        $fontSize: 16px;
                                        $padding: 0;
                                        $fontWeight: 600;
                                        $cursor: pointer;
                                        @include inputBox ($brColor, $bgColor, $color, $fontSize, $padding, $fontWeight, $cursor);
                                        &#signinBtn{
                                            $brColor: #5f0080;
                                            $bgColor: #5f0080;
                                            $color: #fff;
                                            $fontSize: 16px;
                                            $padding: 0;
                                            $fontWeight: 600;
                                            $cursor: pointer;
                                            @include inputBox ($brColor, $bgColor, $color, $fontSize, $padding, $fontWeight, $cursor);
                                        }
                                        &#okBtn{
                                            $brColor: #5f0080;
                                            $bgColor: #5f0080;
                                            $color: #fff;
                                            $fontSize: 16px;
                                            $padding: 0;
                                            $fontWeight: 600;
                                            $cursor: pointer;
                                            @include inputBox ($brColor, $bgColor, $color, $fontSize, $padding, $fontWeight, $cursor);
                                        }
                                    }
                                    .text-box{
                                        display: flex;
                                        padding: 0 0 50px 0;
                                        .left {
                                            margin: 0 12px 0 0;
                                            img {
                                                width: 40px;
                                                height: 40px;
                                            }
                                        }                                        
                                        .right {                                           
                                            p {
                                                &:first-child{
                                                    padding: 2px 0 0 0;
                                                    font-size: 14px;
                                                    color: #333;
                                                    font-weight: 500;
                                                }
                                                &:last-child{
                                                    padding: 6px 0 0 0;
                                                    font-size: 12px;
                                                    color: #999;
                                                }
                                            }
                                        }                                        
                                    }
                                    input[type='submit']{   // 확인 버튼
                                        width: 100%;
                                        height: 54px;
                                        border: 1px solid #ddd;
                                        border-radius: 3px;
                                        background: #ddd;
                                        color: #fff;
                                        font-size: 16px;
                                        font-weight: 600;
                                        cursor: default;
                                        margin: 15px 0 0 0;
                                        &.on {
                                            border: #5f0080;
                                            background: #5f0080;
                                            cursor: pointer;
                                        }
                                    }
                                    // #7-3 버튼 css 작업
                                    .delete-btn {
                                        z-index: 2;
                                        position: absolute;
                                        width: 16px;
                                        height: 16px;
                                        right: 10px;
                                        bottom: 19px;
                                        border: 0;
                                        background: transparent;
                                        cursor: pointer;
                                    }
                                }
                                .guid_text_box {
                                    // #2
                                    p {
                                        position: relative;
                                        color: #666;
                                        font-size: 12px;
                                        padding: 0 0 0 13px;
                                        line-height: 12px;
                                        height: 12px;
                                        margin: 7px 0;
                                        &::before {
                                            content: "●";   // ㅁ+한자에서 특수문자 삽입
                                            position: absolute;
                                            left: 2px;
                                            top: 0;
                                            font-size: 3px;
                                            color: #666;
                                        }
                                        &.red { // 클래스 red가 들어가면 
                                            padding: 0 0 0 18px;
                                            color: #f03f40;
                                            &::before { // 점을 없애고 이미지가 들어간다.
                                                content:'';
                                                width: 12px;
                                                height: 12px;
                                                background: url(../../../../public/images/sub/sub6/icon_del.svg) no-repeat 50% 0;  // 위아래는 가운데 왼쪽으로 붙어야하니 0
                                            }
                                        }
                                        &.blue { // 클래스 blue가 들어가면 점을 없애고 이미지가 들어간다.
                                            padding: 0 0 0 18px;
                                            color: #257cd8;
                                            &::before { // 점을 없애고 이미지가 들어간다.
                                                content:'';
                                                width: 12px;
                                                height: 12px;
                                                background: url(../../../../public/images/sub/sub6/icon_check.png) no-repeat 50% 0;  // 위아래는 가운데 왼쪽으로 붙어야하니 0
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}